.title {
   max-width: 869px;
   text-align: center;
}

.title__item {
   font-size: 12px;
   text-transform: uppercase;
   color: #FFAE2B;
   letter-spacing: 2px;
   margin-bottom: 15px;
   line-height: 22px;
}

.title__main {
   font-size: 60px;
   letter-spacing: 1px;
   color: #FFFFFF;
   line-height: 80px;
}